.culture-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 641px) {
    .culture-image {
        margin-bottom: 1rem;
    }
}

@media (min-width: 641px) {
    .card-header {
        border-top-left-radius: 0 !important;
    }
    .culture-image {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
