.activities-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 641px) {
    .activities-image {
        margin-top: 1rem;
    }
}

@media (min-width: 641px) {
    .card-header {
        border-top-right-radius: 0 !important;
    }  
    .activities-image {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

