.dining-image {
    float: left;
    width: 300px;
    height: auto;
    margin: 1rem 1rem 0 0;
    border-radius: 8px;
}

@media (max-width:641px) {
    .dining-image {
        float: none;
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 1rem auto;
    }

}