.island-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1.5rem 0.5rem 1.5rem 1.5rem;
    padding-right: 0;
}

@media (max-width: 641px) {
    .island-image {
        margin-top: 1rem;
    }
}

@media (min-width: 641px) {
    .card-header {
        border-top-right-radius: 0 !important;
    } 
}
