.island-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-right: 0;
}

@media (max-width: 641px) {
    .island-image {
        margin-top: 1rem;
    }
}

@media (min-width: 641px) {
    .card-header {
        border-top-right-radius: 0 !important;
    } 
    .island-image {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}
